iw5
t4
t5
demonware/18301
demonware/18409
demonware/18397/pub
demonware/18397/user/publicprofile
demonware/18397/user/zmdatabk0000
t6/demos
t6/players
t6/ui
t6/ui_mp/t6/hud
t6/ui_mp/t6/zombie
t6/ui_mp/t6/menus/editgameoptionspopup.lua
t6/ui_mp/t6/menus/theaterlobby.lua
t6/ui_mp/t6/mainmenu.lua
t6/zone
t6/dvars.json
t6/games_mp.log
t6/soundaliaslists
t6/scripts/mp